$color-font1: #fff;
$color-font2: #686963;
$bg-color1: #E56353;
$bg-color2: #91918D;
$bg-color3: #686963;
$btn-color: #FAFAFA;
$btn-border: #A0A0A0;
$font-light: 200;
$font-regular: 400;
$font-bold: 700;
$size-xxl: 100px;
$size-large: 50px;
$size-medium: 18px;