.hero{
    background-color: $bg-color1;
    height: 40rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: $color-font1;

    p{
        font-weight: $font-light;
        font-size: $size-xxl;
    }
    h2{
        font-weight: $font-bold;
        font-size: $size-xxl;
    }
}
